{% extends 'index.html' %}
{% block body %}
<form action="/changepassword_post" method="post">
<table class="table" >
  <tr>
    <td>
      <input type="PASSWORD" name="textfield" id="textfield"  placeholder="OLD PASSWORD" class="form-control"/>
   </td>
  </tr>
  <tr>
    <td>
      <input type="PASSWORD" name="textfield2" id="textfield2"  placeholder="NEW PASSWORD" class="form-control"/>
    </td>
  </tr>
  <tr>
    <td>
      <input type="PASSWORD" name="textfield3" id="textfield3"  placeholder="CONFIRM PASSWORD" class="form-control" />
    </td>
  </tr>
  <tr>

    <td>
      <input type="submit" name="button" id="button" value="SAVE CHANGES" class="btn btn-inverse-primary btn-fw" />
    </td>
  </tr>
</table>
</form>
{% endblock %}
