
<!--<table width="152" border="1">-->
<!--  <tr>-->
<!--    <td width="142"><a href="#">Home</a></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><a href="/viewregstd_users">View Users</a></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><a href="/search">Search</a></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><a href="/view_complaints">View Complaints</a></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><a href="/view_feedback">View Feedbacks</a></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><a href="/changepassword">Change Password</a></td>-->
<!--  </tr>-->
<!--  <tr>-->
<!--    <td><a href="/">Logout</a></td>-->
<!--  </tr>-->
<!--</table>-->

<!--</body>-->
<!--</html>-->
{% extends 'index.html' %}
{% block body %}
<!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-3">-->
<!--<div class="card bg-light mb-3" style="width: 18rem;">-->
<!--  <div class="card-body">-->
<!--    <h5 class="card-title" align="center"><br>View Users</h5>-->
<!--  </div>-->
<!--</div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">-->
<!--  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>-->
<!--  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>-->


    <div class="et_pb_row et_pb_row_0" xmlns="http://www.w3.org/1999/html"><div class="et_pb_column et_pb_column_1_2 et_pb_column_0  et_pb_css_mix_blend_mode_passthrough">
    <div class="et_pb_module et_pb_text et_pb_text_0  et_pb_text_align_left et_pb_bg_layout_light">
   <div class="et_pb_text_inner">
            <h1 class="av-special-heading-tag  av-mini-font-size-overwrite av-mini-font-size-28" itemprop="headline">Price Tracker App</h1>
       <p><p>Pricesearch enables you to automatically track your competition. You’ll receive updates regarding the prices of your competitors’ products.</p></p>
    </div>
    <div class="et_pb_button_module_wrapper et_pb_button_0_wrapper  et_pb_module ">
        <a class="et_pb_button et_pb_button_0 et_pb_bg_layout_light" ></a>
    </div>
</div>
    <div class="et_pb_column et_pb_column_1_2 et_pb_column_1  et_pb_css_mix_blend_mode_passthrough et-last-child">
        <div class="et_pb_module et_pb_image et_pb_image_0">
            <span class="et_pb_image_wrap ">
                <img width="45%" height="70%" src="/static/Capture1.JPG" alt="price tracker" title="price tracker "srcset="/static/Capture1.JPG"
                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px,
                      (min-width: 981px) 1024px, 100vw">
                <img width="45%" height="70%" src="/static/price.png" alt="price tracker" title="price tracker "srcset="/static/price.png"
                     sizes="(min-width: 0px) and (max-width: 480px) 480px, (min-width: 481px) and (max-width: 980px) 980px,
                      (min-width: 981px) 1024px, 100vw">
            </span>
            <p></p>
            <p><p >Price Tracker is a tool to track, compare, and analysis prices and is a technical solution that helps (online) retailors, wholesalers, and manufactures track price of competitors and dealers. It's no secret that marketplaces are the winner's of today's eCommerce playing field. Amazon, Idealo, Flipkart, etc. are good examples of marketplaces that offer retailers a platform to sell their stuff. Price Tracker  makes the process easier & less painfull, and it gives information to make pricing decisions. By having the right prices, you incerase the chance of selling time. It's a misconception that the primary purpose of a price tracker is to lower your prices. That means upping your prices, thus increasing your margins, if the opportunities are there...!</p></p>
        </div>

        </div>
    </div>
</div>


<!--<div class="container-fluid">-->
<!--  <div class="row">-->

<!--    <div class="col-sm-4">-->
<!--      <div class="card bg-light mb-3" style="width: 17rem;">-->
<!--        <a href="/viewregstd_users">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title" align="center"><br><br>View Users<br></h5>-->
<!--        </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--      <div class="card bg-light mb-3" style="width: 17rem;">-->
<!--        <a href="/search" >-->
<!--        <div class="card-body">-->
<!--           <h5 class="card-title" align="center"><br><br>Search</h5>-->
<!--        </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--      <div class="card bg-light mb-3" style="width: 17rem;">-->
<!--        <a href="/view_complaints">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title" align="center"><br><br>View Complaints</h5>-->
<!--        </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->

<!--  <br><br><br>-->

<!--  <div class="row">-->

<!--    <div class="col-sm-4">-->
<!--      <div class="card bg-light mb-3" style="width: 17rem;">-->
<!--        <a href="/view_feedback">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title" align="center"><br><br>View Feedbacks</h5>-->
<!--        </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--      <div class="card bg-light mb-3" style="width: 17rem;">-->
<!--        <a href="/changepassword" >-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title" align="center"><br><br>Change Password</h5>-->
<!--        </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--      <div class="card bg-light mb-3" style="width: 17rem;">-->
<!--        <a href="/">-->
<!--        <div class="card-body">-->
<!--          <h5 class="card-title" align="center"><br><br>Logout</h5>-->
<!--        </div>-->
<!--        </a>-->
<!--      </div>-->
<!--    </div>-->

<!--  </div>-->
</div>

{% endblock %}