{% extends 'index.html' %}
{% block body %}

     <h4 class="card-title"><U>REGISTERED USERS</U></h4>
    <form action="/viewregstd_post" method="post">
<table class="pull-right">
    <tr>


        <td>SEARCH</td>
        <td><input type="text" name="textfield" id="textfield" class="form-control"/></td>
        <td width="109"><input type="submit" name="button2" id="button2" value="GO" class="btn btn-inverse-primary btn-fw"/></td>
    </tr>
</table>

                    <table id="crc" class="table table-striped">
                      <thead>
                        <tr>
                            <th width="13%" >#</th>
                            <th width="13%" >NAME</th>
                            <th width="13%">PHONE NUMBER</th>
                            <th width="13%">E MAIL</th>
                            <th width="13%" >COUNTRY</th>
                            <th width="13%" >DATE OF JOIN</th>
                            <th width="13%" >D.O.B</th>
                        </tr>
                      </thead>
                      <tbody>

<!--                        {% for i in data %}-->
<!--  <tr>-->
<!--    <td width="13%">{{ loop.index }}</td>-->
<!--    <td width="13%">{{ i['fname'] }} {{ i['lname'] }}&nbsp;</td>-->
<!--    <td width="13%">{{ i['phno']}}&nbsp;</td>-->
<!--    <td width="13%">{{ i['emailid']}}&nbsp;</td>-->
<!--    <td width="13%">{{ i['country'] }}&nbsp;</td>-->
<!--    <td width="13%">{{ i['doj'] }}&nbsp;</td>-->
<!--    <td width="13%">{{ i['dob'] }}&nbsp;</td>-->
<!--  </tr>-->
<!--      {% endfor %}-->


                      </tbody>
                    </table>

</form>



    <script src="/static/jquery.js"></script>
    <script>
     $(document).ready(function () {
abc();
        $(document).on('keyup','#textfield',function () {

            var ii=$(this).val();

$("#crc").empty("")
            $.getJSON("/changevalues",{
                 id:ii
                },function (data) {


                var k=data.length;
                $("#crc").append("<tr><th>#</th><th>NAME</th><th>PHONE NUMBER</th><th >E MAIL</th><th  >COUNTRY</th><th >DATE OF JOIN</th><th >D.O.B</th></tr>");
 for(i=0;i<k;i++)
                {
                    var id=data[i]["uid"];
                    var name=data[i]["fname"]+ " " +data[i]["lname"];
                    var phno=data[i]["phno"];


 var emailid=data[i]["emailid"];
  var country=data[i]["country"];
   var doj=data[i]["doj"];
   var dob=data[i]["dob"];
$("#crc").append("<tr><td>"+id+"</td><td>"+name+"</td><td>"+phno+"</td><td>"+emailid+"</td><td>"+country+"</td><td>"+doj+"</td><td>"+dob+"</td></tr>")

                }
                });

        });
    });



  function abc(){
<!--alert("hi");-->

     $.getJSON("/getusers",{

                },function (data) {


                var k=data.length;

<!--alert(k);-->
                for(i=0;i<k;i++)
                {
                    var id=data[i]["uid"];
                    var name=data[i]["fname"]+ " " +data[i]["lname"];

                  //  alert(name);
                    var phno=data[i]["phno"];
 var emailid=data[i]["emailid"];
  var country=data[i]["country"];
   var doj=data[i]["doj"];
   var dob=data[i]["dob"];
$("#crc").append("<tr><td>"+id+"</td><td>"+name+"</td><td>"+phno+"</td><td>"+emailid+"</td><td>"+country+"</td><td>"+doj+"</td><td>"+dob+"</td></tr>")
                }
                });

  }

    </script>

{% endblock %}